.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(20, 20px); /* Adjust grid size to match the BOARD_SIZE */
  grid-template-rows: repeat(20, 20px);
  gap: 2px;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.snake {
  background-color: rgb(14, 5, 148);
}

.food {
  background-color: red;
}

h2 {
  color: #333;
}

